# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.env
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python test files
*.cover
*.log
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.cache
pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# C extensions
*.so

# Distribution files
*.egg
*.egg-info/
MANIFEST

# Other
*.DS_Store
